.wrapper
  = render 'shared/chat_side'
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          テスト
        %ul.main-header__left-box__member-list
          Member：
        %li.main-header__left-box__member-list__member
          shiro
      .main-header__edit-btn
        Edit

    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker
            shiro
          %p.message__upper-info__date
            2019/03/14(thu) 13:30:00
        %p.message__text
          おはよう

    .form
      %form.new_message
        %input.form__message{placaholder:'type a message', value: 'type a message', type:'text', name:'message[content]', id:'message_content'}
          .form__box
            %label.form__message__image
              = fa_icon 'picture-o', class: 'icon'
              %input.hidden{type: 'file'}
          %input.form__submit{type: 'submit', value: 'Send'}
